@font-face {
  font-family: "ChunkFiveRegular";
  src: url("fonts/ChunkFive-Regular.otf");
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
}

h1,
h2 {
  font-family: "ChunkFiveRegular", Helvetica, sans-serif;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 1.3em;
}

.credits {
  font-family: "Courier New", Courier, monospace;
}
