body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
}

h1,
h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 1.3em;
}

.credits {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  word-spacing: 1em;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.4em;
}
